*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  margin-top:70px;   
  overflow-x:hidden; 
}

.navbar{
  height:70px;
  width:100%;
  padding:0 60px;

  display:flex;
  justify-content:space-between;
  align-items:center;

  background:linear-gradient(90deg,#141e30,#243b55);
  color:white;

  box-shadow:0 4px 15px rgba(0,0,0,0.15);

  position:fixed;   
  top:0;
  left:0;
  z-index:1000;
}

/* LOGO */

.logo{
  font-size:22px;
  font-weight:bold;
  letter-spacing:1px;
}

/* NAV LINKS */

.nav-links{
  display:flex;
  align-items:center;
  gap:25px;
  list-style:none;
}

/* LINKS */

.nav-links a{
  text-decoration:none;
  color:white;
  font-size:15px;
  transition:0.3s;
}

.nav-links a:hover{
  color:#ffcc70;
}

/* AUTH LINKS */

.auth-links{
  display:flex;
  align-items:center;
  gap:15px;
}

/* LOGIN SIGNUP BUTTON STYLE */

.auth-links a{
  padding:7px 14px;
  border-radius:6px;
  border:1px solid white;
  transition:0.3s;
}

.auth-links a:hover{
  background:white;
  color:#243b55;
}

/* LOGOUT BUTTON */

.auth-links button{
  padding:7px 14px;
  border-radius:6px;
  border:1px solid white;
  background:transparent;
  color:white;
  cursor:pointer;
  transition:0.3s;
}

.auth-links button:hover{
  background:white;
  color:#243b55;
}